body {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}

* {
    margin: 0;
}

header {
    display: flex;
    height: 200px;
    position: relative;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box2 {
    display: flex;
    justify-content: space-around;
}